body{
    background-color:#DC30F2;
    color: #020F59;
}

/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  } */
