body {
  background-color: gray;
  color: #020F59;
}

h2 {
  border-bottom-style: solid;
  border-color: #567785;
}

.card {
  border-style: solid;
  border-color: #567785;
  border-width: 3px;
}

#navbar {
  background-color: #84Cff0;
  border-bottom-style: solid;
  border-color: #567785;
}

#aboutme {
  border-style: solid;
  border-color: #567785;
  background-color: white;
  "

}